:root {
  --color-background: rgb(8, 8, 8);
  --color-outline: rgb(47, 51, 54);
  --color-accent: rgb(26, 140, 216);
  --color-text: rgb(255, 255, 255);
}

html {
  box-shadow: inset 0px 0px 0px 1px var(--color-outline);
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
}
