:root {
  --color-background: rgb(8, 8, 8);
  --color-outline: rgb(47, 51, 54);
  --color-accent: rgb(26, 111, 191);

  font-family: 'Inter', sans-serif;
}

html {
  box-shadow: inset 0px 0px 0px 1px var(--color-outline);
  background-color: var(--color-background);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
